spring:
  config:
    activate:
      on-profile: prod
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: false
  sql:
    init:
      mode: always
  flyway:
    clean-disabled: true
logging:
  level:
    root: WARN
